@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #FDFDFD;

  & > div {
    padding: 2em;
    flex: 0 1 900px;
  }
}

@media (max-width: 600px) {
  body > div {
    padding: 1em;
  }
}

h1 {
  font-family: 'Lilita One', sans-serif;
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

p {
  padding: 0;
  margin: 1em 0;
}

a {
  color: #111;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
