@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #FDFDFD;

  & > div {
    padding: 2em;
    flex: 0 1 900px;
  }
}

@media (max-width: 600px) {
  body > div {
    padding: 1em;
  }
}
