.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.logo {
  margin-right: 0.5em;
}

.or {
  margin-bottom: 1.3em;
}

.bottom-links {
  margin: 2em 0 1em 0;
  color: #666;
  font-size: 0.8em;

  & a {
    color: #333;
  }
}

.beta-tag {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 9px;
  align-self: flex-start;
  margin-left: 1em;
}

.error-bar {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  transition: all 0.3s ease-in-out;
  /* Need this for height transitions to work. */
  max-height: 70px;

  &.hidden {
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}
