.back-button {
  border: none;
  width: 10em;
  height: 3em;
  background: url('/images/back-icon.svg') no-repeat center left;
  margin: 1em 0;
  opacity: 0.5;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
