<div local-class="sk-circle">
  <div local-class="sk-circle1 sk-child"></div>
  <div local-class="sk-circle2 sk-child"></div>
  <div local-class="sk-circle3 sk-child"></div>
  <div local-class="sk-circle4 sk-child"></div>
  <div local-class="sk-circle5 sk-child"></div>
  <div local-class="sk-circle6 sk-child"></div>
  <div local-class="sk-circle7 sk-child"></div>
  <div local-class="sk-circle8 sk-child"></div>
  <div local-class="sk-circle9 sk-child"></div>
  <div local-class="sk-circle10 sk-child"></div>
  <div local-class="sk-circle11 sk-child"></div>
  <div local-class="sk-circle12 sk-child"></div>
</div>
