<button type="button" local-class="music-button {{if @large 'large'}}" {{on "click" @action}}>
  {{#unless @hideImage}}<div local-class="music-image"></div>{{/unless}}
  {{@title}}{{yield}}
</button>
