.music-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  background: radial-gradient(circle farthest-corner at 0px -30px, #FF5E50, #FE5C6C, #B87EB0, #916CFF, #70BCFB);
  border-radius: 100px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 32px;
  padding: 0 1.25em;
  font-size: 0.8em;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 100;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  font-weight: bold;

  &:before {
    border-radius: inherit;
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.45s;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.large {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  padding: 0 3em;
}

.music-image {
  width: 18px;
  height: 18px;
  background: url('/images/music-icon.svg') no-repeat center;
  background-size: 18px 18px;
  margin-right: 0.7em;
}

@media (max-width: 600px) {
  .music-button {
    height: 40px;
    padding: 0 1.5em;
    font-size: 0.8em;
  }

  .large {
    height: 50px;
    padding: 0 2.5em;
  }
}
