.playlist-info {
  display: flex;
  padding: 1em 0 0 0;
}

.playlist-image {
  width: 128px;
  height: 128px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.playlist-text-container {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.playlist-name-container {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.playlist-name {
  margin-bottom: 0.2em;
  font-size: 2em;
  font-weight: bold;
}

.playlist-by {
  opacity: 0.8;
}

.playlist-author {
  font-size: 1.25em;
  opacity: 0.6;
}

.playlist-description {
  margin-bottom: 0.8em;
  color: #000000CC;

  & a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .playlist-info {
    flex-direction: column;
  }

  .playlist-text-container {
    margin: 1em 0 0 0;
  }

  .playlist-name {
    font-size: 1.7em;
  }

  .playlist-author {
    font-size: 1em;
  }

  .playlist-description {
    margin-bottom: 1.5em;
    font-size: 0.9em;
  }
}

.playlist-image-loading {

}
