:root {
  --opacityFaded: 0.7;
  --fontSizeLarge: 1.25em;
  --fontSizeSmall: 0.8em;
}

.track-row {
  display: flex;
  flex: 1;
  padding: 1em;
  transition: all 0.3s;
  border-radius: 10px;

  &:hover {
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    transform: scale(1.01);
  }
}

.track-processing {
  display: flex;
  align-items: center;
}

.track-index {
  font-size: var(--fontSizeLarge);
  opacity: var(--opacityFaded);
  padding-right: 0.75em;
  text-align: right;
  width: 2.5em;
}

.track-name-container {
  flex: 1;
}

.track-name {
  font-size: var(--fontSizeLarge);
  margin-bottom: 4px;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.track-artist-album {
  font-size: var(--fontSizeSmall);
  opacity: var(--opacityFaded);
}

.track-duration {
  font-size: var(--fontSizeLarge);
  opacity: var(--opacityFaded);
  padding-left: 0.5em;
}

@media (max-width: 600px) {
  :root {
    --fontSizeLarge: 1.1em;
  }

  .track-row {
    padding: 0.7em 0.25em;
  }

  .track-index {
    padding-right: 0.5em;
  }
}
