<LinkTo @route="application"><BackButton /></LinkTo>

<h1>About</h1>

<p>There are so many cool Spotify playlists out there with no easy way of pulling them into Apple Music. So I created Tunesfer!</p>
<p>Notably, Tunesfer does all of the Apple Music requests directly so there's no reason to give your Apple ID password to anyone but Apple. It also doesn't require you to have a Spotify account to transfer playlists, just use any public playlist link.</p>
<p>If you have any ideas or questions please feel free to contact me via <a href="mailto:contact@tunesfer.com">contact@tunesfer.com</a> or jump over to the <a href="https://github.com/astephensen/tunesfer-web">Github repository</a> if you want to contribute!</p>
<p>- Alan</p>
