<div local-class="search-container">
  <h1>Musify</h1>
  <h2>Load a Spotify playlist into Apple Music</h2>
  <PlaylistSearch
    @action={{this.loadPlaylist}}
    @placeholder="Enter a Spotify playlist link"
  />
  <div local-class="or">- or -</div>
  <MusicButton @large="true" @hideImage="true" @title="Try some Australian Indie?" @action={{this.randomPlaylist}} />

</div>
{{!-- <button type="button" {{on "click" this.loadPlaylist}}>Search</button> --}}
